

.fullcontainer {
  min-height: 100vh; /* full screen height */

  background: linear-gradient(
    to bottom right,
    #111827,   /* gray-900 */
    #1f2937    /* gray-800 */
  );

  color: white; /* text color */

  display: flex; /* flexbox */
  align-items: center; /* vertical center */
  justify-content: center; /* horizontal center */
margin: 30px;
  padding: 24px; /* p-6 = 24px */
}

.row {
  display: flex;        /* flex */
  gap: 12px;            /* gap-3 = 12px */
  margin-bottom: 24px;  /* mb-6 = 24px */
  justify-content: center ;
}
.button1 {
  background-color: #2563eb;   /* blue-600 */
  padding-left: 16px;          /* px-4 */
  padding-right: 16px;
  border-radius: 8px;          /* rounded-lg */
  color: white;                /* usually needed */
  border: none;
  cursor: pointer;
  height: 70px;
  font-size: 20px;
  margin-top: 20px;
}

/* hover effect */
.button:hover {
  background-color: #1d4ed8;   /* blue-700 */
}

.box {
  background-color: #1f2937; /* gray-800 */

  border-radius: 12px;       /* rounded-xl */

  padding: 16px;             /* p-4 */
}

.subtitle {
  font-size: 20px;        /* text-lg */
  font-weight: 600;       /* font-semibold */
  margin-bottom: 16px;    /* mb-4 */
  color: white;
}

.row-small {
  display: flex;        /* flex */
  gap: 10px;             /* gap-2 = 8px */
  margin-bottom: 25px;  /* mb-4 = 16px */
}

.small-btn {
  padding-left: 12px;   /* px-3 */
  padding-right: 12px;

  padding-top: 4px;     /* py-1 */
  padding-bottom: 4px;

  border-radius: 8px;   /* rounded-lg */

  font-size: 16px;      /* text-sm */
}
.code-box {
  background-color: rgba(127, 209, 239, 0.59);   /* bg-black */

  border-radius: 8px;         /* rounded-lg */

  padding: 16px;              /* p-4 */

  font-size: 14px;            /* text-sm */

  overflow: auto;             /* scroll if content overflows */

  max-height: 256px;          /* max-h-64 */
}

.download-btn {
  display: block;               /* block */

  margin-top: 16px;             /* mt-4 */

  text-align: center;           /* text-center */

  background-color: #16a34a;    /* green-600 */

  padding-top: 8px;             /* py-2 */
  padding-bottom: 8px;

  border-radius: 8px;           /* rounded-lg */

  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* hover effect */
.download-btn:hover {
  background-color: #15803d;    /* green-700 */
}
